<section>
  <div class="circle"></div>
  <header>
    <a href="#"><img src="../assets/images/logo.png" alt="logo"></a>
    <ul class="navigation">
      <li><a href="#">Home</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">What's New</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header>
  <div class="content">
    <div class="textBox">
      <h2>Taste the Feeling</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae odio culpa aliquam autem at, expedita eum provident? Numquam, possimus? Sint porro ab quisquam amet doloremque ut non, nam vitae eveniet.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
</section>